.barChart{
    font-family: "fira-sans-2", Verdana, sans-serif;
    font-size: 1cqi;
    position:relative;
}

/*make backgound the same as the document to hide overlap*/
/* .barChart, .barChart table, .barChart tbody, .barChart tr, .barChart th{
    background-color: inherit;
} */

.barChart table, .barChart th{
    border: 1px solid rgb(71, 71, 71);;
    border-collapse: collapse;
    margin:0;
    padding:0;
}
  
.barChart table {
    /* border-collapse: collapse; */
    width: 100%;
    /* height: 100%; */
    table-layout: fixed;
}

.barChart tbody{
    height:33cqw;
}

.barChart td, .barChart th {
    vertical-align:bottom;
    text-align:center;
    position:relative;
    user-select: none;
}

.barChart th{
    background-color: #fff2;
}

.barChart td p{
    background-color: rgb(186, 18, 18);
    position:absolute;
    bottom:0;
    width:100%;
    height:100%;
    /* color:transparent; */
}

.barChart td p:hover {
    color:inherit;
}

.barChart p {
    margin:0;
    color:black;
}

.barChart .bars{
    height: 100%;
    container-type: size;
    container-name: bartest;
    position: relative;
}

.barChart caption{
    padding-top: 15px;
    user-select: none;
    text-align: left;
}

.dataTable{
    font-family: "fira-sans-2", Verdana, sans-serif;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color:  rgb(75,75,75) rgb(25,25,25);
    display: inline-block;
    max-width: 100%;
}

.dataTable table{
    border-collapse: collapse;
}

.dataTable table th:first-child{
    position: sticky;
    left: 0;
    border: none;
    background-color: inherit;
    text-align: right;
}

.dataTable caption{
    padding-top: 15px;
    white-space: nowrap;
    user-select: none;
    text-align: left;
}

.dataTable caption span{
    position: sticky;
    left:0;
}

.dataTable th{
    border: 1px solid rgb(71, 71, 71);
    padding-right: 1cqi;
    padding-left: 1cqi;
    /* background-color: rgb(25, 25, 25); */
}

.dataTable td{
    padding-right: 1cqi;
    padding-left: 1cqi;
    text-align:right;
}

.dataTable tr{
    background-color:rgb(10, 10, 10);
}
.dataTable tr:nth-child(odd){
    background-color: rgb(25, 25, 25);
}