@import url('https://fonts.googleapis.com/css2?family=New+Rocker&display=swap');

body{
    position: relative;
    --cardColor:#fff0; /*default color for cards*/
    --decal: url();/*added backgrounds for cards*/
    --resetRatio:.4;
    --mightRatio:.8;
    --tileSize: min(calc(100cqmin/4), calc(100cqmax/5.4));
    scrollbar-gutter: stable;
    background-image: url("../images/lightBackground.jpg");
    background-position-x: center;
    background-position-y: center;
    background-attachment: fixed;
    background-size: 100% auto;
    background-repeat: no-repeat;
    touch-action: manipulation;
}

.cardui{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family:"New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
}

.hcontainer{
    display:flex;
    flex-direction: row;
}

.vcontainer{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.mightcontainer{
    display:flex; 
    flex-direction: row;
}

.reset{
    width: calc(var(--resetRatio)*var(--tileSize));
    height: calc(var(--resetRatio)*var(--tileSize));
    background-image: url("../images/reset.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.value{
    width:100%;
    position:absolute;
    top:24%;
    font-size: 45cqmax;
}

.count{
    position:absolute;
    bottom: 0%;
    left: 10%;
    right:60%;
    font-size: 14cqmax;
    font-family: "fira-sans-2", Verdana, sans-serif;
    background-color: #fff9;
    border-radius: 5cqmax;
    color:black;
}

.mcount{
    width:20%;
    position:absolute;
    bottom: 17%;
    right: 14%;
    font-size: 40cqmax;
}

.white{
    --cardColor:#bbbbbb;
    color:#111;
}
.yellow{
    --cardColor:rgb(198, 165, 20);
    color: #222;
}

.red{
    --cardColor:rgb(206, 37, 34);
    color: #222f;
}

.black{
    --cardColor:#25252aff;
    color: #888f;
}

.crit{
    --decal: url("../images/cardCrit.png");
}

.tile{
    width: var(--tileSize);
    height: var(--tileSize);
}

.card{
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../images/cardSymbol.png"), var(--decal), radial-gradient(circle at 50% 52%, var(--cardColor) 37%,#000f 48%,#0000 50%);
    container-type: size;
    position: relative;
    user-select: none;
    text-align: center;
}

.might{
    width: calc(var(--mightRatio)*var(--tileSize));
    height: calc(var(--mightRatio)*var(--tileSize));
    background-size: 100%;
    background-repeat: no-repeat;
    container-type: size;
    container-type: size;
    position: relative;
    user-select: none;
    text-align: center;
    justify-content: center; 
    filter:brightness(80%);
}

.mWhite{
    background-image: url("../images/white.png"); 
}

.mYellow{
    background-image: url("../images/yellow.png"); 
}

.mRed{
    background-image: url("../images/red.png"); 
}

.mBlack{
    background-image: url("../images/black.png"); 
}

/* rotate card ui when screen becomes wider than tall */
@media (min-aspect-ratio:1){
    .vcontainer{
        flex-direction: row;
    }
    .hcontainer{
        flex-direction: column;
    }

}

@media ((min-aspect-ratio:5/5.4) and (max-aspect-ratio:1)) or (min-aspect-ratio:6/4){
    .mightcontainer{
        flex-direction: column;
    }
    .cardui{
        align-items: center;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(37, 37, 37);
        background-image: url("../images/darkBackground.jpg");
        color: rgb(210, 210, 210);
    }
}